In [1]:
import pandas as pd

In [30]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [32]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz',
                nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [33]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,100.0,100,100,100.0,100.0000,100.0,100.0,100.0,100.0,100.000000,100.000000,100.000,100.000000,100.000000,100.000,100.000000,100.000000
mean,1.65,2021-01-01 00:32:08.670000,2021-01-01 00:43:00.130000,1.57,3.5610,1.02,168.41,158.36,1.43,12.987000,1.095000,0.495,2.096600,0.183600,0.297,18.679200,2.125000
min,1.0,2021-01-01 00:00:28,2021-01-01 00:03:19,0.0,0.0000,1.0,4.0,3.0,1.0,0.000000,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000
25%,1.0,2021-01-01 00:20:03.750000,2021-01-01 00:32:46.250000,1.0,1.1675,1.0,132.0,89.25,1.0,6.500000,0.500000,0.500,0.000000,0.000000,0.300,11.160000,2.500000
50%,2.0,2021-01-01 00:33:35.500000,2021-01-01 00:43:00.500000,1.0,2.2100,1.0,151.0,151.0,1.0,9.500000,0.500000,0.500,1.860000,0.000000,0.300,14.550000,2.500000
75%,2.0,2021-01-01 00:46:02.750000,2021-01-01 00:55:02.750000,2.0,4.0925,1.0,238.0,233.25,2.0,16.500000,1.000000,0.500,2.805000,0.000000,0.300,23.320000,2.500000
max,2.0,2021-01-01 00:57:26,2021-01-01 01:23:03,5.0,19.1000,2.0,264.0,264.0,4.0,52.000000,3.000000,0.500,12.250000,6.120000,0.300,73.670000,2.500000
std,0.479372,NaN,NaN,1.007597,3.8553,0.140705,67.708987,74.842396,0.590412,10.509915,1.077068,0.050,2.650679,1.049253,0.030,12.236805,0.897176

In [34]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               string
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [35]:
df.tip_amount.min()

np.float64(0.0)

In [37]:
len(df)

100

In [38]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [39]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [44]:
!uv add pscyopg2-binary

  × No solution found when resolving dependencies for split (markers:
  │ python_full_version >= '3.14' and sys_platform == 'win32'):
  ╰─▶ Because pscyopg2-binary was not found in the package registry and your
      project depends on pscyopg2-binary, we can conclude that your project's
      requirements are unsatisfiable.

      hint: While the active Python version is 3.13, the resolution failed for
      other Python versions supported by your project. Consider limiting your
      project's supported Python versions using `requires-python`.
  help: If you want to add the package regardless of the failed resolution,
        provide the `--frozen` flag to skip locking and syncing.

In [45]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [48]:
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag               string
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [49]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [51]:
df.to_sql(name = 'yellow_taxi_data', con = engine)

-1

In [55]:
from tqdm.auto import tqdm

In [56]:
df_iter = pd.read_csv(
    'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator = True,
    chunksize = 100000
)

for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append')
    print(len(df_chunk))

0it [00:00, ?it/s]

69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765
69765